// variables

//paleta de colores
$color-p: #ffff   ;
$color-s: #82e1ab;
$color-s-2: #7dc5e6;
$color-s-3: #73dde1;
$color-f: #e7f3f8;

//letras
$color-l: #0000ff;
$color-l-2: #212325;
$font-p:'Rokkitt', serif;;
$font-s: 'Baloo 2', cursive;