.logo-in{
    text-align: center;

    img{
        margin-top: 50px;
        width: 400px;
    }
}

.inicio-cont{
    border: solid black 2px;
    width: 500px;
    margin: 50px auto;
    padding: 10px;
}