@use 'global' as *;

.inicio{
    display:flex;
    flex-direction: column;

    .logo{
        display: flex;
        justify-content: center;

        img{
            margin-top: 50px;
            margin-left: -20px;
            width: 300px;
        }
    }
    .cont{
        display: flex;
        justify-content: center;

        .inicio-cont{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            background-color: $color-s;
            width: 300px;
            height: 300px;
            margin: 50px;
            padding: 10px;

            .correo{
                font-family: $font-s;
                font-size: 18px;
                margin: 10px 5px 0;
            }
            .password{
                font-family: $font-s;
                font-size: 18px;
                margin: 10px 5px 0;
            }
            .boton{
                text-decoration: none;
                text-align: center;

                background-color: $color-s-3;
                padding: 8px;
                margin: 35px 5px 0;

                font-family: $font-s;
                font-size: 18px;
                color: $color-l;
            }
        }


    }


}


@media (max-width: 425px){
    .inicio{
        .logo{
            .logo-in{
                img{
                    width: 275px;
                }
            }
        }
    }
}