@use 'global' as *;

.nav-p{
    background-color: $color-p !important;

    .nav-s{

        & > .nav-img{
            color: $color-f;
        }

        & > div{

            & > ul{

                & > .nav-li{

                    & > .nav-a{
                      color: $color-f;
                    }
                }
            }
        }
    }
}

.acerca-d{
    background-color: $color-s;
    width: auto;
    height: 800px;
    margin: 100px 0 0;

    & > .acerca-t{
        color: $color-f;
    }

    & > .acerca-p{
        color: $color-f;
    }

}