@use 'global' as *;

body{
    background-color: $color-f;
}
.nav-p{
    background-color: $color-p !important;

    .nav-s{

        & > .nav-img{
            & > .img{
                width: 200px;
            }
        }

        & > .nav-b{
            border-color: #000000;

        }

        & > div{

            & > ul{

                & > .nav-li{

                    & > .nav-a{

                        & > img{
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
}

.acerca-d{
    background-color: $color-s;
    width: auto;
    margin: 100px 0 0;

    & > .acerca-t{
        padding: 10px 20px;
        color: $color-l;
    }

    & > .acerca-p{
        padding: 10px 20px;
        color: $color-l-2;
    }

}

.nota{
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 20%;
    margin: 20px auto;

    & > .nota-t{

        & > .titulo{
            border-bottom-style: solid;
            border-width: 1px;
            border-bottom-color: black;
        }
        & > .hoja{
            & > input{
                width: 100%;
                height: 80px;
            }
        }
        & > .boton{
            & > button{
                margin: 5px;
                padding: 5px;
                border-color: $color-p;
                background-color: $color-p;
                border-style: solid;

            }
        }
    }
}